/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  display: grid;
  gap: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: 100px;
  font-family: var(--main-font), "sans-serif";
  font-variation-settings: "wght" var(--font-width-text);
  font-size: var(--font-size-ordinary);
  background:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0 0.01%, #1a1a1a 100vh);
  background-size: cover;
}

.border-block-page {
  border: var(--borders);
}

.border-top {
  border-block-start: var(--borders);
}
.border-bottom {
  border-block-end: var(--borders);
}

.block-page {
  justify-self: center;
  display: grid;
  min-inline-size: 320px;
  inline-size: var(--blocks-size-mobile); /*clamp( 320px, 375px, 700px);*/
}

.style-blocks {
  background-color: var(--base-color);
}

.header {
  grid-template-rows: 1fr 1fr;
  block-size: 327px;
  line-height: 32px;
  font-family: var(--pressstart), "Courier New";
  text-transform: uppercase;
}

.main {
  gap: 49.6px;
}

.header__title {
  align-self: end;
  justify-self: center;
  font-size: 49px;
}

.header__text {
  align-self: start;
  justify-self: center;
  padding-block-start: 18.5px;
  font-size: var(--font-size-small);
}

.box-image {
  position: relative;
  block-size: 371px;
  mix-blend-mode: hard-light;
}

.label-image {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--pressstart);
  font-variation-settings: "wght" calc(var(--font-width-text) - 10px);
  font-size: var(--font-size-small);
  text-shadow: 0 0 1px var(--base-color);
  text-transform: uppercase;
  opacity: 0.5;
}

@supports (text-stroke: 1px var(--base-color)) or
  (-webkit-text-stroke: 1px var(--base-color)) {
  .label-image {
    -webkit-text-stroke: 1px var(--base-color);
    text-stroke: 1px var(--base-color);
    text-shadow: none;
    opacity: 0.3;
  }
}

.section__card-image {
  inline-size: 100%;
  object-fit: cover;
}

.description {
  filter: blur(5px);
}

.clear-sheet {
  filter: brightness(90%) contrast(30%);
}

.doubt {
  filter: drop-shadow(v-shadow #f00);
}

.ideal {
  filter: saturate(200%);
}

.support {
  filter: sepia(50%);
}

.crutches {
  filter: invert(100%) hue-rotate(33deg);
}

.despair {
  filter: grayscale(100%);
}

.here {
  filter: opacity(99%);
}

.section__title {
  padding-block: 5px;
  padding-inline: 10.3px;
  font-size: var(--font-size-ordinary);
  font-variation-settings: "wght" var(--font-width-title);
}

.section__text {
  display: grid;
  gap: 25px;
  padding-inline: 25.5px;
  padding-block: 28.2px 25.5px;
  line-height: 21px;
}

.like-container {
  display: flex;
  gap: 4px;
  justify-self: end;
  block-size: 38px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
  transition:
    border,
    0.3s ease;
}

.button {
  position: relative;
  inline-size: 130px;
  overflow-x: hidden;
  color: var(--base-color);
  background-color: var(--base-color);
  transition:
    box-shadow,
    0.3s ease;
}

.button__text {
  position: relative;
  z-index: 2;
  font-family: var(--pressstart), "Courier New";
  font-size: var(--font-size-small);
  mix-blend-mode: difference;
  transition:
    color,
    0.5s ease-in-out;
}

.button:hover .button__text {
  transition:
    color,
    0.5s ease-in-out;
}

.button::before {
  content: "";
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: -100%;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--main-color);
  transition:
    left,
    background-color,
    0.5s ease-in-out;
}

.button:hover::before {
  left: 0;
}

.card__icon-button:focus-visible {
  outline: none;
  border-color: var(--main-color);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
  outline: none;
}

.floppy {
  z-index: 2;
  width: 28px;
  height: 28px;
  mix-blend-mode: difference;
  transition:
    color,
    0.5s ease-in-out;
}

.save-button {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  gap: 9px;
  inline-size: 306px;
  block-size: 84px;
  align-items: center;
}

.dialog__save[open] {
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  position: fixed;
  inset: 0px;
  inset-block-start: 60px;
  align-self: center;
  justify-self: center;
  inline-size: 341px;
  max-inline-size: 353px;
  block-size: 191px;
  padding-inline: 38px;
  padding-block-start: 25.9px;
  padding-block-end: 30px;
  opacity: 0.3;
}

.button-confirm {
  grid-column: 1 / 3;
  inline-size: 100%;
  block-size: 38px;
  font-family: var(--pressstart), "Courier New";
  font-size: var(--font-size-small);
  font-variation-settings: "wdth" calc(var(--font-width-text) - 10x);
  text-transform: uppercase;
  background-color: transparent;
}

.dialog__floppy {
  align-self: center;
  width: 39px;
  height: 48px;
}

.dialog__save::backdrop {
  background-color: var(--main-color);
  opacity: 0.75;
}

.save-text {
  font-family: var(--pressstart), "Courier New";
  font-size: var(--font-size-small);
  line-height: 1.5;
}

@media (width > 700px) {
  .block-page {
    inline-size: var(--blocks-size-laptop); /*clamp( 320px, 375px, 700px);*/
  }

  .header {
    block-size: 368px;
    line-height: 42px;
  }

  .header__title {
    font-size: 65px;
  }

  .header__text {
    padding-block-start: 22px;
    font-size: 23px;
  }

  .main {
    gap: 51.8px;
  }

  .section__title {
    padding-block: 3px;
  }

  .section__text {
    padding-block-start: 30px;
  }

  .box-image {
    block-size: 696px;
  }

  .floppy {
    width: 21px;
  }

  .save-button {
    flex-direction: initial;
    justify-content: center;
    gap: 7px;
    inline-size: 336px;
    block-size: 50px;
  }

  .dialog__save[open] {
    inline-size: 353px;
    padding-inline: 30px;
    inset-block-start: 280px;
  }
}
